header.panel-heading {
  position: relative;
}

/* try to resemble .btn-remove-url style in resource form */
.btn.btn-danger.btn-repeating-remove {
  position: absolute;
  margin-right: 0;
  top: 9px;
  right: 7px;
  padding: 0 12px;
  border-radius: 100px;
}

li.multiple-text-field {
  position: relative;
  padding-bottom: 6px;
}

li.multiple-text-field input {
  padding-right: 90px;
}

/* Links list*/
.link-list { 
  list-style-type: "🔗 ";
  vertical-align: middle;
}

.link-list li::marker {
  font-size: 0.85em;
  vertical-align: middle;
}

/* INSPIRE Themes list */
.theme-list {
  list-style-type: none;
  padding-left: 1em;
}

.theme-li {
  display: block;
  height: 25px;
  line-height: 10px;
}

.theme-li img {
  vertical-align: middle;
}

/* try to resemble .btn-remove-url style in resource form */
a.btn.btn-multiple-remove {
  position: absolute;
  margin-right: 0;
  top: 6px;
  right: 7px;
  padding: 0 12px;
  border-radius: 100px;
}

/* remove ":" after form label */
.radio-group label::after {
  content: none;
}

.radio-group label {
  font-weight: normal;
}

/*IMG scheming links */
.svg-icon {
  max-height: 24px;
  height: fit-content;
  display: inline-block;
  vertical-align:middle
}
.svg-icon:hover { cursor:pointer }