{#
  Render a list of links

  list - list of links
#}

{% set _class = _class or 'link-list' %}
{%- set choices = data[field.field_name] -%}

{% if choices is iterable and (choices is not string) %}
  {%- set snippet_list = choices or ([''] * field.get('form_blanks', 1)) -%}
{% elif choices is string %}
  {%- set snippet_list = choices.split(',') or ([''] * field.get('form_blanks', 1)) -%}
{% else %}
  {%- set snippet_list = [''] -%}
{% endif %}

{% block snippet_list %}
  <ul class="{{ _class }}">
    {% for value in snippet_list if value|length %}
      <li>
        <a class="{% block theme_list_item_class %}{{ value }}{% endblock %}" href="{{ value.replace(' ', '') }}">{{ value.replace(' ', '') }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
